* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
resources/translations/*.json text eol=lf
resources/translations/reviews/*.json text eol=lf
CHANGELOG.md export-ignore
