//color variables
$primary-color: #FF7500;
$primary-hover: #d96e1b;

$lumber: #ffe5ce;
$linen: #ffeedf;
$davys-grey: #5d5d5d;
$dune: #333333;
$granite-gray: #666666;
$bright-gray: #e9ecef;

$background-dark: #141414e5;
$background-darker: #131212;
$text-light: #f5f7fa;
$text-muted: #4a4a4a;
$white: #ffffff;
$white-light: #f1f1f1;
$news-event-bg: #edf3f5;
$ghost-white: #f8f9fa;
$chinese-silver: #cccccc;

$blue: #4079FF;
$black: #000000;
